body{
    background-color: #fff;
    color: black;
}
.box{
      border-radius: 50%;
}

.Title{
    margin-top: 3%;
    text-align: center;
    transition-property: all;
    transition-duration: 0.8s;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color: #375a7f;
    
}

.EmiCard{

    height: 330px;
    background-color: rgba(235, 236, 236, 0.521);
    display: inline-block;
    margin: auto;
    width: 20%;
    margin-left: 10%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(221, 221, 221);
    margin-top: 3%;
    transition-property: all;
    transition-duration: 0.8s;
}
.Emi{

    text-align: center;
}

.EmiCard:hover{
    cursor: pointer;
    transition-duration: 0.8s;
    box-shadow: 0px 0px 25px rgba(150, 150, 150, 0.507);
    transform: scale(1.1,1.1);
    
}

.EmiMonth{
    display: inline-block;
    margin-left: 35%;
}

.EmiAmountMonthly{
    display: inline-block;
    
}

.TotalPay{
    display: inline-block;
    color: #375a7f;
    margin-left: 20%;
    font-weight: bold;
    
}

.TotalIntRate{
    display: inline-block;
   
    color: #00bc8c;
}

.LoanAmt{
    text-align: center;
}

.logout{

margin-left: 90%;
margin-top: 2%;
outline: none;
  border: none;
  width: 120px;
  color: black;
  height: 40px;
  border-radius: 120px;
  /* background-color: rgb(255, 0, 191); */
  font-weight: bold;
}

.logout{
    background-color:#ffa60086
  /* border:2px solid gold; */
}

#LoanAmt{
    color: orange;
    /* font-weight: bold; */
}

.PurchaseBtn{
    margin-top: 3%;
    width: 20%;
    min-height: 8%;
}

.ViewPur{ 
margin-left: 88.9%;
outline: none;
border: none;
color: rgb(255, 255, 255) !important;
width: 120px;
height: 40px;
  border-radius: 120px;
  padding: 20px;
  text-decoration: none;
  background-color: #7e7e7e;
  font-weight: bold;
}


.Purchase{
    margin-left: 28%;
    outline: none;
    border: none;
    width: 110px;
    margin-top: 4%;
    margin-bottom: 2%;
    color: black;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: small;
    background-color: #00bc8c;
    font-weight: bold;
}

#svgVoid{
    width: 320px;

margin-top: 4%;
}

.text-warning{
    color: #f39c12;
    display: inline-block;
}
.EmiAmountMonthly2{
    /* padding-bottom:100 px; */
}